@model SklepMvc.Models.Product

@{
  ViewData["Title"] = "Szczegóły produktu";
}

<h2>Szczegóły produktu</h2>

<dl class="row">
  <dt class="col-sm-2">Nazwa</dt>
  <dd class="col-sm-10">@Model.Name</dd>

  <dt class="col-sm-2">Opis</dt>
  <dd class="col-sm-10">@Model.Description</dd>

  <dt class="col-sm-2">Cena</dt>
  <dd class="col-sm-10">@Model.Price.ToString("0.00")</dd>

  <dt class="col-sm-2">Stan</dt>
  <dd class="col-sm-10">@Model.Stock</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
<a asp-action="Index" class="btn btn-secondary">Wróć</a>